@font-face {
    font-family: Gotham;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Gotham/GothaProReg.otf);
}

@font-face {
    font-family: Gotham;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Gotham/GothaProlig.otf);
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

html, body {
    height: 100%;
}

body, h2 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container-v > .swiper-wrapper {
    flex-direction: column;
}

.swiper-slide {
    height: 100vh;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section1 {
    background-image: url("../img/bg1.png");
}

.section1 .slider_title {
    position: absolute;
    top: 16%;
    left: 14%;
    font-size: 50px;
    font-family: Gotham;
    font-weight: 400;
    color: rgb(13, 49, 156);
    line-height: 1.2;
}

.section2 {
    background-image: url("../img/bg2.png");
    text-align: center;
}

.section2 .slider_title {
    width: 100%;
    position: absolute;
    top: 27%;
    font-size: 50px;
    font-family: Gotham;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(255, 255, 255);
}

.section3-1 {
    background-image: url("../img/bg3_1.png");
}

.section3-2 {
    background-image: url("../img/bg3_2.png");
}

.section3-3 {
    background-image: url("../img/bg3_3.png");
}

.swiper-container-h .slider_title {
    position: absolute;
    top: 14%;
    left: 8%;
    font-size: 30px;
    font-family: Gotham;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.infodiagram {
    width: 56%;
    height: 43%;
    margin: 0 auto;
    margin-top: 20%;
}

.section3-2 .infodiagram {
    width: 74%;
    height: 62%;
    margin-top: 16%;
    margin-left: 16%;
}

.section3-3 .infodiagram {
    width: 90%;
    height: 61%;
    margin-top: 13%;
}

.swiper-container-vertical > .swiper-pagination-bullets {
    position: fixed;
    right: 3%;
}

.swiper-pagination-bullet {
    top: 50%;
    right: 3%;
    display: block;
    width: 14px;
    height: 13px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    opacity: 1;

}

.swiper-pagination-bullet-active {
    background: #f78b1f;
}

.range-slider {
    position: absolute;
    bottom: 15%;
    left: 0%;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 60%;
}

.noUi-target {
    background-color: rgb(67, 80, 99);;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.noUi-horizontal .noUi-handle {
    width: 87px;
    height: 111px;
    top: -40px;
    background-image: url(../img/thumb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.noUi-handle:after, .noUi-handle:before {
    content: none;
}

.noUi-value {
    top: 60px;
    font-size: 23px;
    font-family: Gotham;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.noUi-value:nth-child(1) {
    left: 0;
}

.noUi-value:nth-child(2) {
    left: 50%;
}

.noUi-value:nth-child(3) {
    right: 0;
}

.slider_item {
    position: absolute;
}

.slider_item span {
    display: block;
    width: 150px;
    position: absolute;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: rgb(13, 49, 156);
    line-height: 1.2;

}

.slider_item-first {
    top: 32%;
    left: 54.5%;
}

.slider_item-first span {
    left: 88px;
    top: 28px;
}

.slider_item-second {
    top: 54%;
    left: 26.2%;
}

.slider_item-second span {
    top: -28px;
    left: -27px;
}

.slider_item-second .big {
    width: 50px;
    height: 50px;
}

.slider_item-third {
    top: 69%;
    left: 46.5%;
}

.slider_item-third span {
    top: -28px;
    left: -95px;
}

.slider_item-fourth {
    top: 66%;
    left: 80%;
}

.slider_item-fourth span {
    top: -28px;
    left: -27px;
}

.slider_item-third .big, .slider_item-fourth .big {
    width: 30px;
    height: 30px;
}

.wrapper-circle * {
    box-sizing: border-box;
}

.circle {
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    position: relative;
}

.big {
    width: 80px;
    height: 80px;
    background-color: rgba(247, 139, 31, 0.22);
    border-color: rgba(247, 139, 31, 0.66);

}

.middle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0.8);
    border-color: #cb3341;
    background-color: rgba(247, 139, 31, 0.22);
    border: 2px solid rgba(247, 139, 31, 0.44);
    animation: pulse 2s linear infinite;
}

.little {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background-color: rgba(247, 139, 31, 0.22);
    border: 2px solid rgba(247, 139, 31, 0.22);
    animation: pulse 2s linear infinite;
    animation-delay: 1s;
}

.btn {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: -17px;
    z-index: 1;
    text-align: center;

}

.btn_title {
    display: block;
    position: relative;
    margin-top: 14px;
    font-size: 14px;
    font-family: Gotham;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    z-index: 10;
}
.btn_title:after{
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    top: 14px;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);

}

.btn:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 17px;
    background-image: url(../img/shine.png);
    background-repeat: no-repeat;
    background-size: contain;

}

@keyframes pulse {
    0% {
        transform: scale(0);
        background-color: rgba(247, 139, 31, 0);
        border-color: rgba(247, 139, 31, 0.66);
    }
    10% {
        background-color: rgba(247, 139, 31, 0.66);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        background-color: rgba(247, 139, 31, 0);
        border-color: rgba(247, 139, 31, 0);
    }
}
